<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Shop application notification from the Jublet Shopify app</h1>
    <p>User full name: <%= @form[:fullName] %></p>
    <p>User email: <%= @form[:email] %></p>
    <p>Phone number: <%= @form[:phoneNumber] %></p>
    <p>Shop name: <%= @form[:shopName] %></p>
    <p>Shopify web site URL: <%= @form[:webSiteUrl] %></p>
    <p>Shop classification: <%= @form[:shopClassification] %></p>
    <p>Instagram: <%= @form[:instagram] %></p>
  </body>
</html>
